@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    opacity : 1;
    font-family: 'Roboto', sans-serif;
}

#background {
    width : 50vw;
    height : 100vh;
    display : flex;
    align-items: center;
    flex-direction : column;
    justify-content: center;;
}

#infoText {
    font-size : 26px;
    color : #000000 ;
}

#cvid {
    display : flex;
    flex-direction : column;
}

.inputItem {
    width : 25vw;
    display : flex;
    flex-direction : column;
}

#divider {
    width : 100%;
    height : 1px;
    background-color : #343a40;

    margin : 15px 0px;
    margin-top : 25px;
    margin-bottom : 10px;
}

#logo { 
    width : 160px;
    align-self : flex-start;
    margin-left : 10%;
    margin-bottom : -5%;
}



#mainPage {
    display : flex;
    flex-direction : row;
}

#descriptionArea {
    display : flex;
    flex-direction : column;
}

input, textarea {
    background-color : white;
    border-radius : 6px;
    border-color : #adb5bd;
    border-style : solid;
    height : 25px;
    color : black;
    font-weight : 600;
    

}

input[type=text], input[type=email], input[type=date],  input[type=tel] {
    width: calc(100% - 20px);
    padding: 0px 10px;
    
}



input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, input[type=date]:focus {
    outline : none;
    border : 2px solid #6c757d;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 40rem #e0e0e0 inset;
}

#inputArea {
    width : 40vw;
    height : 80vh;
    border-width : 5px;
    background-color : white;
    opacity : 1;
    border-radius : 5%;
    display : flex;
    align-items : center;
    flex-direction : column;
    border-style : none;
}

#description {
    height : 100px;
}

label {
    color : #495057;
    font-size : 13px;
    margin-bottom : 2px;
}

.info {
    border-style : none;
    width : 70%;
    margin-left : calc(calc(100% - 70%) / 2);
    padding : 0;
}

.submitButton[type=submit] {
    margin-top : 15px;
    background-color : #343a40;
}

button[type=submit]:focus{
    outline : none;
    
}

.submitButton:hover {
    background-color: #212529;
    border-color: #212529;
    outline-color : #212529;
}

.submitButton:active {
    transform: translateY(3px);
    box-shadow : 0 5px 10px rgba(0,0,0,0.2);
}

